a.kc_button {
    text-decoration: none;
}

.kc-blog-posts .kc-post-2-button:hover {
    border-color: #e60000;
    background: #e60000;
    color: #fff;
}

.logoBorder {
    border-right: 1px solid #a6a8a9;
}

.logoBorder:last-child {
    border-right: none;
}

.seColumn .kc-raw-code, .dtColumn .kc-raw-code, .imColumn .kc-raw-code, .doColumn .kc-raw-code {
    text-align: center;
}

.imColumn img {
    max-width: 145px !important;
}

.seColumn .kc-raw-code, .doColumn .kc-raw-code {
    padding-top: 30%;
}

.dtColumn .kc-raw-code, .imColumn .kc-raw-code {
    padding-top: 26%;
}

.br-under479 {
    display: none;
}

@media screen and (max-width: 1800px) {
    #media-kit-section {
        background: none;

    }
}

@media screen and (max-width: 1700px) {
    #whatWeDoRow {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1400px) {
    .photo-section .kc-wrap-columns > div:nth-child(2) {
        padding-top: 10px;
    }
}

@media screen and (max-width: 1300px) {
    .photo-section .kc-wrap-columns > div:nth-child(2) {
        padding-left: 10px;
    }
}

@media screen and (max-width: 1239px) {
    #media-kit-section {
        height: unset;
    }

    .annual-col, .media-col {
        padding: 0 15px !important;
    }
}

@media screen and (max-width: 1200px) {
    #se-banner-section .kc-raw-code > div {
        margin-left: 230px !important;
    }
}

@media screen and (max-width: 959px) {
    #image-column {
        width: 100% !important;
    }

    #se-banner-section {
        display: none;
    }

    .image-info-col {
        padding-left: 40px !important;
        padding-right: 40px !important;
        width: 100% !important;
        text-align: center;
    }

    .image-info-col h4, .image-info-col p {
        margin-right: 0 !important;
    }

    .seColumn, .dtColumn, .imColumn, .doColumn {
        width: 50% !important;
        margin-top: 0 !important;
    }

    .dtColumn {
        border-bottom: 1px solid gray;
    }
}

@media screen and (max-width: 767px) {
    .media-col {
        padding-top: 80px !important;
    }

    .seColumn, .dtColumn, .imColumn, .doColumn {
        height: 280px !important;
    }

    .seColumn h4, .dtColumn h4, .imColumn h4, .doColumn h4 {
        font-size: 19px !important;
    }

    .seColumn img, .imColumn img {
        width: 100px;
    }

    .dtColumn img, .doColumn img {
        width: 125px;
    }

    .seColumn .kc-raw-code, .dtColumn .kc-raw-code, .imColumn .kc-raw-code {
        padding-top: 35px;
    }

    .doColumn .kc-raw-code {
        padding-top: 50px;
    }

    #quotation-section {
        -webkit-background-size: 200px;
        background-size: 200px;
    }
}

@media screen and (max-width: 550px) {
    .seColumn, .dtColumn, .imColumn, .doColumn {
        height: 240px !important;
    }
}

@media screen and (max-width: 479px) {
    .seColumn, .dtColumn, .imColumn, .doColumn {
        height: 170px !important;
    }

    .seColumn img, .imColumn img {
        width: 70px;
    }

    .dtColumn img {
        width: 85px;
    }

    .doColumn img {
        width: 100px;
    }

    .seColumn .kc-raw-code, .dtColumn .kc-raw-code, .imColumn .kc-raw-code {
        padding-top: 25px;
    }

    .doColumn .kc-raw-code {
        padding-top: 35px;
    }

    .seColumn h4, .dtColumn h4, .imColumn h4, .doColumn h4 {
        font-size: 13px !important;
        line-height: 19px !important;
    }

    .seColumn h4, .doColumn h4, .imColumn h4 {
        padding-top: 15px !important;
    }

    .dtColumn h4 {
        padding-top: 5px !important;
    }

    #whatWeDoRow h2 {
        font-size: 27px;
        line-height: 28px;
    }

    .media-col {
        padding-top: 60px !important;
    }

    .media-col, .annual-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #quotation-section {
        -webkit-background-size: 100px;
        background-size: 100px;
    }
}

/*
.annual-col
.media-col
*/