.kc_button:hover {
    text-decoration: none;
}

@media screen and (max-width: 959px) {
    #first-section {
        height: 300px !important;
    }
}

@media screen and (max-width: 767px) {
    .kc-animated, .kc-animate-eff-fadeInLeft, .kc-animate-eff-fadeInRight, .kc-animate-eff-fadeInUp {
        animation: none !important;
    }
}

@media screen and (max-width: 499px) {
    #first-section {
        display: none;
    }
}