h5 {
    font-weight: 500;
    margin-bottom: 8px;
}
.showcase-button:focus {
    outline: none;
}
.showcase-project { /* for showcase-button class */
    display: none;
}
.interested-button {
    display: none;
}
.interested-button:hover {
    text-decoration: none;
}
img.image-border {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
img.image-border:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}
@media screen and (max-width: 767px){
    .the_content_wrapper {
        margin: 0;
    }
}