/* Logo */
#Top_bar .logo {
    margin-left: 55px;
}

#Wrapper, #Content, #Footer {
    background-color: white !important;
}

#Content {
    min-height: 700px;
}

#Top_bar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.search_wrapper {
    display: none !important;
}

body.search-no-results .content_wrapper {
    padding-top: 150px;
}

/* Tables */
.hours {
    font-size: 140%;
}

.hours .c1, .hours .c2 {
    text-align: left;
    border-width: 0 0 1px 0;
    border-color: rgba(255, 255, 255, .3);
}

.hours .c1 {
    font-weight: 700;
}

.offer_table {
    font-size: 140%;
}

.offer_table .c1, .offer_table .c2 {
    border-width: 0 0 1px 0 !important;
    border-color: rgba(0, 0, 0, .1);
    padding: 20px 5px;
    color: #20292c;
}

.offer_table .c1 {
    font-weight: 700;
    text-align: left;
}

.offer_table .c2 {
    text-align: right;
}

.offer_table th {
    font-weight: 700;
    font-size: 180%;
}

/* Input type file styling for job positions */
.wpcf7-form-control-wrap.your-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute !important;
    z-index: -1;
}

.cvStyling {
    border: 1px dashed #a4a7a9;
    padding: 20px;
    cursor: pointer;
}

/* Portfolio */
.portfolio-photo .portfolio-item .portfolio-details .details .title {
    color: #20292c;
    font-size: 33px;
    line-height: 35px;
}

/* Home margins */
.tuning_portfolio,
.tuning_map {
    margin-top: 70px !important;
}

/* Chart box */
.chart_box > p {
    color: #20292c;
    font-size: 140%;
    font-weight: 500;
}

/* Counter */
.counter .desc_wrapper .number-wrapper {
    margin-bottom: 15px;
}

.counter .desc_wrapper .title {
    color: #20292c;
    font-size: 140%;
    font-weight: 500;
}

/* Footer */
#Footer .container {
    max-width: 98%;
    width: 98%;
}

/* Decoration classes */
.gray-filter {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* Subheader */
#Subheader {
    display: none;
}

.themecolor {
    color: #e60000 !important;
}

/* Contact form styling */
.asterisk {
    font-size: 25px;
    vertical-align: bottom;
}

input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, select:focus, textarea:focus {
    color: #e60000;
    background-color: rgba(254, 0, 0, 0.1) !important;
    border-color: #000000;
}

span.wpcf7-list-item {
    margin: 0;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    margin: 0 !important;
    width: 100%;
}

.cf7p-message .wpcf7-validation-errors {
    background-color: #e60000 !important;
    width: 100%;
    margin: 0 !important;
}

/* Blog styling */
a.tag-cloud-link {
    font-size: 14px !important;
}

/* Single post styling */
.post-nav {
    background-image: none;
    padding-left: 0 !important;
}

body.single-post #Content .section-post-header .single-photo-wrapper {
    display: none;
}

/* Image Styling */
.image-border {
    border: 1px solid #a4a7a9;
}

/* Footer remove */
.footer_copy {
    display: none;
}

/* Selection color */
::selection {
    background: #e60000;
    color: white;
}

/*<br> tag styling*/
.br-under479 {
    display: none;
}

.share-job {
    display: flex;
}

.share-job > .kc-raw-code {
    align-self: flex-end;
}

.share-job h4 {
    font-size: 25px;
    line-height: 29px;
    margin-right: 5px;
}

.share-job a {
    font-size: 25px;
    line-height: 29px;
    margin-right: 5px;
}

@media screen and (max-width: 1239px) {
    #Top_bar #logo img {
        vertical-align: unset;
    }
}

@media screen and (max-width: 767px) {
    #Top_bar .logo {
        margin-left: 0;
    }
}

@media screen and (max-width: 599px) {
    #Footer p.big {
        line-height: 30px;
    }
}

@media screen and (max-width: 479px) {
    .phone-number {
        font-size: 24px !important;
    }

    .br-under479 {
        display: block;
    }

    .br-over479 {
        display: none;
    }
}

/*@media screen and (max-width: 399px) {*/
    /*.disapear-dot {*/
        /*display: none;*/
    /*}*/
/*}*/
/*::selection { background: #ff0000; color: white; }*/